/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2023, 13:21:17
    Author     : dudus
*/

#frm{
    display: flex;
    background-color: lightblue;
    width: fit-content;
    height: fit-content;
    margin: auto;
}



.titulos, .valores{
    border: 1px solid black;
    padding: 0 2em;
}


